$w-primary-color: #99525e;
$w-secondary-color: #00ffff;
$w-third-color: #fff200;
$f-base-color: black;
$f-base-size: 20pt;
$i-small: 20px;
$i-medium: 40px;
$i-large: 60px;
$i-xlarge: 80px;
$mobile: 600px;
$tablet: 1024px;
$desktop: 1903px;
$w-main-font: 'Fredoka One', cursive;
$w-secondary-font: 'Indie Flower', cursive;
$w-body-font: 'Open Sans', sans-serif;
